<div class="slideshow-container">
	<div id="slideshow-prev" {{action "prevPic"}}>
		{{fa-icon "arrow-left" class="left-arrow-icon"}}
	</div>
	<div id="slideshow-image-container">
		<img src={{currentPic.url}} style="height: 550px;width: 425px;">	
	</div>	
	<div id="slideshow-next" {{action "nextPic"}}>
		{{fa-icon "arrow-right" class="right-arrow-icon"}}
	</div>
</div>
<div id="slideshow-sidebar">
	<h1>{{album}}</h1>
	<div id="pic-count">
		<b>Pic {{currentPicIndex}}/{{numbPics}}</b>
	</div>
	<div id="slideshow-buttons">
		<div class="download-pic-button" {{action "downloadPic"}}>
			<b>Download    {{fa-icon "download"}}</b>
		</div>
		<div class="delete-pic-button" {{action "deletePic"}}> 
			<b>Delete      {{fa-icon "trash-o"}}</b>
		</div>
	</div>
</div>
