<div id="pictures-header">
	<div class="pictures-header-top">
		<h2>{{fa-icon "picture-o"}} Pictures</h2>
		<div class="buttons">
			<div class="new-album-button">
				<a {{action "openAlbumsModal"}}>
					{{fa-icon "plus"}} Create Album	
				</a>
			</div>
			<div class="add-pictures-button">
				<a {{action "openPicturesModal"}}>
					Add Pics	
				</a>
			</div>
		</div>
	</div>
	<div id="pictures-nav">
		{{#link-to 'dashboard.pictures.index' class="pictures-nav-tab"}}All{{/link-to}}
		{{#link-to 'dashboard.pictures.albums' class="pictures-nav-tab"}}Albums{{/link-to}}
	</div>
</div>
{{outlet}}
{{#if picturesModal}}
	{{#modal-dialog translucentOverlay=true close="closePicturesModal"}}
		{{add-pictures closePicturesModal="closePicturesModal"}}	
	{{/modal-dialog}}
{{/if}}
{{#if albumsModal}}
	{{#modal-dialog translucentOverlay=true close="closeAlbumsModal"}}
		{{add-album}}	
	{{/modal-dialog}}
{{/if}}
